In [1]:
import numpy as np
import pandas as pd
import ast

In [2]:
games=pd.read_csv('games_list.csv')

In [3]:
games.isnull().sum()

id                  0
genres/0/id       257
genres/0/name     257
genres/1/id       667
genres/1/name     667
genres/2/id      1208
genres/2/name    1208
name                0
rating              0
summary           200
genres/3/id      1549
genres/3/name    1549
genres/4/id      1710
genres/4/name    1710
genres/5/id      1770
genres/5/name    1770
genres/6/id      1791
genres/6/name    1791
dtype: int64

In [4]:
games=games.drop(columns=['genres/0/id','genres/1/id','genres/2/id','genres/2/name','genres/3/id','genres/3/name','genres/4/id','genres/4/name','genres/5/id','genres/5/name','genres/6/id','genres/6/name'])

In [5]:
games

,id,genres/0/name,genres/1/name,name,rating,summary
0,129797,Point-and-click,Real Time Strategy (RTS),Age of Empires II: Gold Edition,88.750665,Age of Empires II Gold Edition unites the exci...
1,56951,Simulator,Strategy,War and Order,90.000000,A MMORPG for Mobile and Tablet users.
2,12586,Shooter,Platform,Exolon,88.361922,Si creías haber visto todo en video-aventuras ...
3,1934,Shooter,Simulator,Red Baron,86.523409,Experience the thrill of flying World War I bi...
4,86920,Strategy,NaN,Castles of Mad King Ludwig,90.000000,"Castles of Mad King Ludwig, a castle-building ..."
...,...,...,...,...,...,...
1788,1022,Adventure,NaN,The Legend of Zelda,80.396260,The Legend of Zelda is the first title in the ...
1789,123468,Simulator,Indie,Fun with Ragdolls: The Game,80.000000,Become a ragdoll and create your own environme...
1790,6998,Fighting,Racing,Full Auto,80.000000,Full Auto gives 'gun it' a whole new meaning. ...
1791,29552,Simulator,Indie,Nature Treks VR,80.000000,"NEW: With the latest updates, you are now free..."
1792,152354,Card & Board Game,NaN,Mario Party Superstars,81.286379,Calling all Superstars! Mario Party is back wi...

In [6]:
games.isnull().sum()

id                 0
genres/0/name    257
genres/1/name    667
name               0
rating             0
summary          200
dtype: int64

## You can either use 
 - dropna(inplace=True) to remove all NA fields
 - fillna(value) to instead keep and display something else

In [7]:
games=games.fillna("0")

In [8]:
games.drop_duplicates(subset="name",keep=False, inplace=True)

## Converting bare text into Lists for later mix

In [10]:
def convert(x):
    L=[]
    if isinstance(x,str):
      L.append(x)
    else:
        L.append(str(round(x)))
    return L

In [11]:
games.shape

(1508, 6)

In [12]:
games['genres/0/name']=games['genres/0/name'].apply(convert)

In [13]:
games['genres/1/name']=games['genres/1/name'].apply(convert)

In [14]:
games['rating']=games['rating'].apply(convert)

## Removing all blank spaces

In [15]:
games['genres/0/name']=games['genres/0/name'].apply(lambda x: [i.replace(" ","") for i in x])
games['genres/1/name']=games['genres/1/name'].apply(lambda x: [i.replace(" ","") for i in x])

In [16]:
games['genres']=games['genres/0/name']+games['genres/1/name']

In [17]:
games=games.drop(columns=['genres/0/name','genres/1/name'])

In [18]:
games['summary']=games['summary'].apply(lambda x:x.split() if pd.notna(x) else x)

In [19]:
games

,id,name,rating,summary,genres
0,129797,Age of Empires II: Gold Edition,[89],"[Age, of, Empires, II, Gold, Edition, unites, ...","[Point-and-click, RealTimeStrategy(RTS)]"
1,56951,War and Order,[90],"[A, MMORPG, for, Mobile, and, Tablet, users.]","[Simulator, Strategy]"
2,12586,Exolon,[88],"[Si, creías, haber, visto, todo, en, video-ave...","[Shooter, Platform]"
3,1934,Red Baron,[87],"[Experience, the, thrill, of, flying, World, W...","[Shooter, Simulator]"
4,86920,Castles of Mad King Ludwig,[90],"[Castles, of, Mad, King, Ludwig,, a, castle-bu...","[Strategy, 0]"
...,...,...,...,...,...
1788,1022,The Legend of Zelda,[80],"[The, Legend, of, Zelda, is, the, first, title...","[Adventure, 0]"
1789,123468,Fun with Ragdolls: The Game,[80],"[Become, a, ragdoll, and, create, your, own, e...","[Simulator, Indie]"
1790,6998,Full Auto,[80],"[Full, Auto, gives, 'gun, it', a, whole, new, ...","[Fighting, Racing]"
1791,29552,Nature Treks VR,[80],"[NEW:, With, the, latest, updates,, you, are, ...","[Simulator, Indie]"
1792,152354,Mario Party Superstars,[81],"[Calling, all, Superstars!, Mario, Party, is, ...","[Card&BoardGame, 0]"

In [20]:
games['tags']=games['rating']+games['summary']+games['genres']

In [21]:
games

,id,name,rating,summary,genres,tags
0,129797,Age of Empires II: Gold Edition,[89],"[Age, of, Empires, II, Gold, Edition, unites, ...","[Point-and-click, RealTimeStrategy(RTS)]","[89, Age, of, Empires, II, Gold, Edition, unit..."
1,56951,War and Order,[90],"[A, MMORPG, for, Mobile, and, Tablet, users.]","[Simulator, Strategy]","[90, A, MMORPG, for, Mobile, and, Tablet, user..."
2,12586,Exolon,[88],"[Si, creías, haber, visto, todo, en, video-ave...","[Shooter, Platform]","[88, Si, creías, haber, visto, todo, en, video..."
3,1934,Red Baron,[87],"[Experience, the, thrill, of, flying, World, W...","[Shooter, Simulator]","[87, Experience, the, thrill, of, flying, Worl..."
4,86920,Castles of Mad King Ludwig,[90],"[Castles, of, Mad, King, Ludwig,, a, castle-bu...","[Strategy, 0]","[90, Castles, of, Mad, King, Ludwig,, a, castl..."
...,...,...,...,...,...,...
1788,1022,The Legend of Zelda,[80],"[The, Legend, of, Zelda, is, the, first, title...","[Adventure, 0]","[80, The, Legend, of, Zelda, is, the, first, t..."
1789,123468,Fun with Ragdolls: The Game,[80],"[Become, a, ragdoll, and, create, your, own, e...","[Simulator, Indie]","[80, Become, a, ragdoll, and, create, your, ow..."
1790,6998,Full Auto,[80],"[Full, Auto, gives, 'gun, it', a, whole, new, ...","[Fighting, Racing]","[80, Full, Auto, gives, 'gun, it', a, whole, n..."
1791,29552,Nature Treks VR,[80],"[NEW:, With, the, latest, updates,, you, are, ...","[Simulator, Indie]","[80, NEW:, With, the, latest, updates,, you, a..."
1792,152354,Mario Party Superstars,[81],"[Calling, all, Superstars!, Mario, Party, is, ...","[Card&BoardGame, 0]","[81, Calling, all, Superstars!, Mario, Party, ..."

## Creating a clean dataframe

In [22]:
new_df=games[['id','name','tags']]

In [23]:
new_df

,id,name,tags
0,129797,Age of Empires II: Gold Edition,"[89, Age, of, Empires, II, Gold, Edition, unit..."
1,56951,War and Order,"[90, A, MMORPG, for, Mobile, and, Tablet, user..."
2,12586,Exolon,"[88, Si, creías, haber, visto, todo, en, video..."
3,1934,Red Baron,"[87, Experience, the, thrill, of, flying, Worl..."
4,86920,Castles of Mad King Ludwig,"[90, Castles, of, Mad, King, Ludwig,, a, castl..."
...,...,...,...
1788,1022,The Legend of Zelda,"[80, The, Legend, of, Zelda, is, the, first, t..."
1789,123468,Fun with Ragdolls: The Game,"[80, Become, a, ragdoll, and, create, your, ow..."
1790,6998,Full Auto,"[80, Full, Auto, gives, 'gun, it', a, whole, n..."
1791,29552,Nature Treks VR,"[80, NEW:, With, the, latest, updates,, you, a..."
1792,152354,Mario Party Superstars,"[81, Calling, all, Superstars!, Mario, Party, ..."

In [24]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\A\AppData\Local\Temp\ipykernel_15500\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [25]:
new_df

,id,name,tags
0,129797,Age of Empires II: Gold Edition,89 Age of Empires II Gold Edition unites the e...
1,56951,War and Order,90 A MMORPG for Mobile and Tablet users. Simul...
2,12586,Exolon,88 Si creías haber visto todo en video-aventur...
3,1934,Red Baron,87 Experience the thrill of flying World War I...
4,86920,Castles of Mad King Ludwig,"90 Castles of Mad King Ludwig, a castle-buildi..."
...,...,...,...
1788,1022,The Legend of Zelda,80 The Legend of Zelda is the first title in t...
1789,123468,Fun with Ragdolls: The Game,80 Become a ragdoll and create your own enviro...
1790,6998,Full Auto,80 Full Auto gives 'gun it' a whole new meanin...
1791,29552,Nature Treks VR,"80 NEW: With the latest updates, you are now f..."
1792,152354,Mario Party Superstars,81 Calling all Superstars! Mario Party is back...

## converting all letters into lowercase

In [26]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\A\AppData\Local\Temp\ipykernel_15500\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [27]:
new_df

,id,name,tags
0,129797,Age of Empires II: Gold Edition,89 age of empires ii gold edition unites the e...
1,56951,War and Order,90 a mmorpg for mobile and tablet users. simul...
2,12586,Exolon,88 si creías haber visto todo en video-aventur...
3,1934,Red Baron,87 experience the thrill of flying world war i...
4,86920,Castles of Mad King Ludwig,"90 castles of mad king ludwig, a castle-buildi..."
...,...,...,...
1788,1022,The Legend of Zelda,80 the legend of zelda is the first title in t...
1789,123468,Fun with Ragdolls: The Game,80 become a ragdoll and create your own enviro...
1790,6998,Full Auto,80 full auto gives 'gun it' a whole new meanin...
1791,29552,Nature Treks VR,"80 new: with the latest updates, you are now f..."
1792,152354,Mario Party Superstars,81 calling all superstars! mario party is back...

# CountVectorizer
- Getting all the frequencies for a slected fix of features removing stopwords

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [29]:
cv

CountVectorizer(max_features=5000, stop_words='english')

## Converting from sparse matrix to a big array

In [30]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [31]:
vectors.shape

(1508, 5000)

## Process of STEMMING
 - reducing all the words to their bare forms loving->love

In [32]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [33]:
def stem(x):
    L=[]
    for i in x.split():
        L.append(ps.stem(i))
    return " ".join(L)

In [34]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\A\AppData\Local\Temp\ipykernel_15500\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [35]:
new_df

,id,name,tags
0,129797,Age of Empires II: Gold Edition,89 age of empir ii gold edit unit the excit ga...
1,56951,War and Order,90 a mmorpg for mobil and tablet users. simul ...
2,12586,Exolon,88 si creía haber visto todo en video-aventura...
3,1934,Red Baron,87 experi the thrill of fli world war i bi- an...
4,86920,Castles of Mad King Ludwig,"90 castl of mad king ludwig, a castle-build bo..."
...,...,...,...
1788,1022,The Legend of Zelda,80 the legend of zelda is the first titl in th...
1789,123468,Fun with Ragdolls: The Game,80 becom a ragdol and creat your own environ i...
1790,6998,Full Auto,80 full auto give 'gun it' a whole new meaning...
1791,29552,Nature Treks VR,"80 new: with the latest updates, you are now f..."
1792,152354,Mario Party Superstars,81 call all superstars! mario parti is back wi...

In [36]:
new_df['tags'][0]

"89 age of empir ii gold edit unit the excit game play of both microsoft age of empir ii: the age of king and age of empir ii: the conqueror expans - plu addit content - for one compel game experience. age of empir ii: the age of king span 1,000 years, from the fall of rome through the middl ages, in which player control the destini of one of thirteen civilizations. age of empir ii: the conqueror expans will challeng veteran and novic to wage war on an epic scale with all-new civilizations, uniqu unit and technologies, and campaign base on infam conqueror such as attila the hun, el cid and montezuma. age of empir 2 gold edit unit the excit game play of both age of empir 2: the age of king and age of empires2: the conqueror expans plu addit content for one compel game experience. experi real-tim evolut as you build your civil into a flourish empire, from the dark age to the imperi age. decid whether to conquer the world through militari might, commerc and diplomacy, or intrigu and regicide. there are mani path to power but onli one will reign supreme. age of empir 2: the age of king span 1,000 years, from the fall of rome through the middl ages. player control the destini of one of 13 civilizations. the game keep the epic scope of age of empires' gameplay while evolv the combat and econom features. develop by ensembl studios, age of empir 2featur the expertis of bruce shelley, co design of age of empir and the hit strategi game civilization. age of empir 2: the conqueror expans add five new civilizations, four new campaigns, 11 new units, 26 new technologies, real world maps, and much more. experi the adventur of the spanish conquistador as they enter the exot land of the aztecs, or reliv the destruct forc of attila' pillag huns. thi add-on pack focus on the armi and militari think of a hand of history' greatest tacticians, includ attila the hun, el cid, and montezuma. the new civil each have uniqu attributes, buildings, and technologies, such as chines rocketri and persian mahouts. you'll put hussar cavalry, kamikaz sieg units, and halberdi infantri into battl in four all-new campaigns. play up to eight other conqueror via modem, internet, or lan. point-and-click realtimestrategy(rts)"

In [37]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [38]:
vectors

array([[2, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [39]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)

In [40]:
similarity

array([[1.        , 0.01349627, 0.06711829, ..., 0.0818168 , 0.06751007,
        0.04285642],
       [0.01349627, 1.        , 0.        , ..., 0.        , 0.05954913,
        0.        ],
       [0.06711829, 0.        , 1.        , ..., 0.03681051, 0.        ,
        0.07362102],
       ...,
       [0.0818168 , 0.        , 0.03681051, ..., 1.        , 0.05157106,
        0.08333333],
       [0.06751007, 0.05954913, 0.        , ..., 0.05157106, 1.        ,
        0.05157106],
       [0.04285642, 0.        , 0.07362102, ..., 0.08333333, 0.05157106,
        1.        ]])

## Helper Functions
 - ### Enumerate_Composite:
      - Inspiration taken from enumerate function
      - Instead of taking all numerical index values
      - We use the actual ids from igdb in a tuple form
 - ### Find_ID:
      - takes in an index and a list
      - returns the value in relation to the shared game

In [41]:
def enumerate_composite(x):
    L=[]
    array=new_df['id'].to_numpy()
    for i in range(0,len(x)):
            tempList=[]
            tempList.append(array[i])
            tempList.append(x[i])
        
            L.append(tuple(tempList))
            
    return L

def find_id(x,index):
    for i in x:
        if(i[0]==index):
            return i
        else:
            continue

- ## Main Function
   - ## uses helper functions to generate recommendations

In [42]:
def recommend(game):
    game_index=new_df[new_df['name']==game].iloc[0]['id']
    distances=find_id(enumerate_composite(similarity),game_index)
    similar_list=sorted(enumerate_composite(distances[1]),reverse=True,key=lambda x:x[1])[1:19]
    print(similar_list)
    for i in similar_list:
        print(new_df[new_df['id']==i[0]].iloc[0]['name'])

In [43]:
recommend('Kenshō')

[(87423, 0.6123724356957945), (87404, 0.6123724356957945), (56288, 0.5604485383178051), (83424, 0.545544725589981), (87589, 0.50602431370499), (36749, 0.4900980294098035), (90801, 0.4762896722078403), (90982, 0.4663213712685439), (90417, 0.4629100498862758), (118193, 0.45291081365783836), (91316, 0.44961798699763555), (17764, 0.44444444444444453), (6279, 0.40824829046386313), (35978, 0.40824829046386313), (58242, 0.408248290463863), (89114, 0.39609128926382914), (22151, 0.38888888888888895), (81508, 0.3872983346207417)]
2048 6x6
2048 Tile!
Family Guy: Another Freakin' Mobile Game
Jigsaw Puzzles Epic
The Hunt for the Lost Treasure
Monument Valley 2
Pavilion: Touch Edition
Jigsaw Puzzle
The Tower of Beatrice
Toem
Jigsaw Puzzle Pro
Time Mysteries 3: The Final Enigma
Device 6
Unhack
Perchang
Magic Jigsaw Puzzles
Chip's Challenge 2
Snake 2

In [44]:
recommend('The Hunt for the Lost Treasure')

[(81732, 0.50602431370499), (90417, 0.4324499820938683), (56288, 0.41137667560372115), (83424, 0.4077177531501004), (87423, 0.3813850356982369), (87404, 0.3813850356982369), (36749, 0.3597384670922507), (35978, 0.34960294939005054), (36051, 0.34815531191139565), (118193, 0.3437758254761643), (86929, 0.3337786686465955), (58242, 0.33371190623595726), (198499, 0.33028912953790823), (90982, 0.3267276256552635), (86787, 0.3236694374850748), (32411, 0.3209833376209784), (6279, 0.31782086308186414), (90801, 0.31782086308186414)]
Kenshō
The Tower of Beatrice
Family Guy: Another Freakin' Mobile Game
Jigsaw Puzzles Epic
2048 6x6
2048 Tile!
Monument Valley 2
Unhack
The Sea Will Claim Everything
Toem
June's Journey
Perchang
Chants of Sennaar
Jigsaw Puzzle
Letter Soup
Conan the mighty pig
Device 6
Pavilion: Touch Edition

In [45]:
for i in list:
    print(new_df[new_df['id']==i[0]].iloc[0]['name'])

TypeError: 'type' object is not iterable

In [46]:
recommend("Marvel Spider-Man Unlimited")

[(57775, 0.3563483225498991), (85804, 0.3427248421989824), (1463, 0.3312862310652588), (21251, 0.32957374598969996), (18056, 0.309211219014639), (8110, 0.3015873015873015), (14986, 0.29966803229563055), (193, 0.29621739072356573), (4598, 0.2941986746023268), (3154, 0.29119023242275505), (85449, 0.28897381562100355), (1022, 0.2881766449557503), (19768, 0.2880092164423916), (81016, 0.28288947493050187), (216, 0.2817180849095055), (4832, 0.2807449625374385), (7173, 0.2805658588748473), (8246, 0.2798612629456048)]
Bowling King
Sunday Lawn
Perfect Dark
Retro Game Challenge
Breath of Fire: Dragon Quarter
Octodad
Legend of Mana
Day of the Tentacle
Contra
The Lord of the Rings: The Battle for Middle-earth
Toki Tori 3D
The Legend of Zelda
The Punisher
Just Jump
Neverwinter Nights
Endless Ocean
Samurai Warriors 2
Marvel vs. Capcom: Clash of Super Heroes

In [47]:
recommend('Metal Gear Solid')

[(136811, 0.5868455973269637), (20196, 0.5346338310781814), (479, 0.5169320763568437), (21251, 0.4915222036236535), (4006, 0.4833637894954398), (216, 0.4218879211229186), (4598, 0.4155555715711096), (57775, 0.4140393356054125), (58386, 0.3947628940318596), (2140, 0.3887455346955542), (20208, 0.3851292185633046), (199418, 0.3720584147803398), (14986, 0.36994421388786203), (88645, 0.362030053499966), (1463, 0.3615913429822787), (288, 0.3588340908580242), (71976, 0.35856858280031806), (112949, 0.3578300267477955)]
Metal Gear Solid HD Edition: 2 & 3
Metal Gear Solid: The Legacy Collection
Metal Gear Solid 3: Subsistence
Retro Game Challenge
Metal Gear Solid: The Twin Snakes
Neverwinter Nights
Contra
Bowling King
Dreaming Mary
LittleBigPlanet 2
Neo Contra
Dedalium
Legend of Mana
Mega Man X
Perfect Dark
Operation Flashpoint: Cold War Crisis
Mario's Picross
Steel Sword Story

In [48]:
recommend('Steins;Gate')

[(49652, 0.3508565290134527), (14528, 0.3307907078519827), (1029, 0.31417075091854213), (78559, 0.3118724702341802), (193, 0.2909886095406223), (836, 0.2794899648783896), (80452, 0.27288841145490766), (4832, 0.27086448924394324), (11837, 0.27086448924394324), (1026, 0.2634012215523376), (21251, 0.26197327117587094), (8199, 0.2609312292213769), (81732, 0.2526455763199557), (17764, 0.2526455763199557), (194907, 0.24773936993814408), (117653, 0.24273401821882046), (35978, 0.2406649574603852), (4598, 0.24043316991025832)]
Kamaitachi no Yoru Advance
Serena
The Legend of Zelda: Ocarina of Time
Earthbound
Day of the Tentacle
Prince of Persia: The Sands of Time
Pac-Man Collection
Endless Ocean
Treasure Adventure Game
The Legend of Zelda: A Link to the Past
Retro Game Challenge
Space Invaders Extreme 2
Kenshō
Time Mysteries 3: The Final Enigma
Big Time
My Heart Grows Fonder
Unhack
Contra

In [49]:
recommend('The Last of Us Part II')

[(11328, 0.344669230642083), (6787, 0.33172563329389654), (50261, 0.3195980549086761), (41597, 0.31255935664237394), (25692, 0.3049533664072638), (14986, 0.2905850650889939), (8901, 0.2901524303462249), (58386, 0.28389613404443026), (87430, 0.28021499116196724), (12224, 0.276659312237701), (135400, 0.27289740901209514), (11837, 0.2722355554157594), (107182, 0.26626213096882495), (63520, 0.2612092593793357), (32411, 0.2566071597133535), (1921, 0.25630580064319), (5504, 0.25613675205891384), (85449, 0.25474090105633385)]
Shadow Complex
Double Dragon
Angband
The Elder Scrolls V: Skyrim Collector's Edition
Circus Charlie
Legend of Mana
Badland
Dreaming Mary
Head Soccer
Silk Worm
Minecraft
Treasure Adventure Game
Vectronom
The Delusions of Von Sottendorff and His Squared Mind
Conan the mighty pig
Black & White 2
Transport Tycoon
Toki Tori 3D

In [50]:
recommend("The Elder Scrolls V: Skyrim Collector's Edition")

[(4832, 0.3959037912324479), (11328, 0.3920427375627313), (25358, 0.38781576749626434), (2909, 0.3815602643018762), (14986, 0.38033002666278654), (21183, 0.3713374748721996), (194907, 0.3621034121889506), (76122, 0.35564337957950964), (50261, 0.34261044898867493), (11837, 0.33651822254758074), (6787, 0.33180971565088174), (126745, 0.32907259085720875), (1346, 0.3266372899592439), (5611, 0.3254818219536805), (1209, 0.32439233352886726), (1022, 0.32082937646209087), (18090, 0.32024493467004), (107182, 0.317925392228937)]
Endless Ocean
Shadow Complex
Deus Ex: Game of the Year Edition
The Legend of Zelda: A Link Between Worlds
Legend of Mana
Magician's Quest: Mysterious Times
Big Time
Project 5: Sightseer
Angband
Treasure Adventure Game
Double Dragon
Chrono Ark
Xenogears
RuneScape
Tales of Vesperia
The Legend of Zelda
Shakes and Fidget
Vectronom

In [51]:
recommend("Fallout 3: Game of the Year Edition")

[(82818, 0.35233213170882205), (216, 0.34602283272391654), (25358, 0.3377830118332837), (232699, 0.3285514069160361), (81749, 0.32826608214930636), (21251, 0.3262583196932297), (86808, 0.3216337604513385), (14986, 0.31746039306049834), (41597, 0.3167230329859583), (18056, 0.3133280105427367), (199418, 0.31150100948372944), (86995, 0.30536723804765126), (18090, 0.29361010975735174), (288, 0.28887415229138963), (1209, 0.2825419403198024), (2909, 0.28198082307876626), (58406, 0.2807449625374385), (26974, 0.2785430072655778)]
Kunoichi Botan
Neverwinter Nights
Deus Ex: Game of the Year Edition
Granblue Fantasy Versus: Rising
Papich - The Game Ep.1
Retro Game Challenge
Cheerleader Champion Dance Off
Legend of Mana
The Elder Scrolls V: Skyrim Collector's Edition
Breath of Fire: Dragon Quarter
Dedalium
Block Craft 3D: City Building
Shakes and Fidget
Operation Flashpoint: Cold War Crisis
Tales of Vesperia
The Legend of Zelda: A Link Between Worlds
Doomsday Clicker
Heartbound

In [ ]:
recommend('Hollow Knight')

In [52]:
recommend('Monster Hunter World: Iceborne Master Edition')

[(6440, 0.5315619808967565), (14647, 0.5080423170216961), (42759, 0.43802033853911915), (7899, 0.364336027234119), (106012, 0.3105649968749708), (633, 0.3079981685341103), (12503, 0.30451562653473285), (149979, 0.30123203803835463), (774, 0.29235267310234303), (21078, 0.29223800250640314), (5042, 0.2720406517562239), (122556, 0.2666666666666666), (8175, 0.2645672665602538), (126265, 0.2581988897471611), (119947, 0.25425669046549126), (1209, 0.2518324521731248), (5911, 0.24744060267436274), (246, 0.24397501823713327)]
Monster Hunter 4 Ultimate
Bloodborne: The Old Hunters
Monster Hunter Portable 3rd
Neverwinter Nights: Shadows of Undrentide
Dragon Quest Monsters: Joker 2 Professional
Sid Meier's Civilization IV: Beyond the Sword
The Witcher 3: Wild Hunt - Hearts of Stone
The Legend of Zelda: Second Wind
The Lord of the Rings Online: Mines of Moria
Monster Tale
King's Bounty: Armored Princess
Celeste: Farewell
Diablo: Hellfire
Endless Memories
NHL 20
Tales of Vesperia
MechAssault 2: Lone Wolf
Diablo II: Lord of Destruction

In [53]:
recommend('Persona 5 Royal')

[(141828, 0.4551495636817563), (11416, 0.3972360153788915), (82818, 0.3834824944236852), (54220, 0.37890538677040364), (90104, 0.3529411764705882), (99656, 0.3529411764705882), (86808, 0.35007002100700246), (11437, 0.3484854734952257), (81749, 0.34299717028501764), (6887, 0.34198686714702664), (9927, 0.3290725908572088), (4678, 0.3270349700838643), (112191, 0.3147557901458535), (26974, 0.30316953129541624), (2899, 0.2993924754260479), (113232, 0.29704426289300234), (9831, 0.2941176470588235), (141408, 0.2941176470588235)]
Caves (Roguelike)
Persona 3 Portable
Kunoichi Botan
Persona Q2: New Cinema Labyrinth
Code of Princess EX
Demon's Rise - War for the Deep
Cheerleader Champion Dance Off
Persona 3 FES
Papich - The Game Ep.1
Persona Q: Shadow of the Labyrinth
Persona 5
Arc Rise Fantasia
Epic Seven
Heartbound
EarthBound
Island of Virgins
Warlords Battlecry
Zaos

In [54]:
recommend("The Witcher 3: Wild Hunt - Hearts of Stone")

[(7899, 0.3703280399090206), (8175, 0.36061860200659623), (13166, 0.3499271061118826), (633, 0.32769276820761617), (14647, 0.31557642080208587), (5042, 0.31282475480231), (118273, 0.30451562653473285), (149979, 0.2948459875572344), (774, 0.29275843689664865), (36099, 0.29095718698132317), (143232, 0.28306925853614895), (122556, 0.28109134757052257), (106012, 0.2749859704614352), (15472, 0.2694840278181478), (20655, 0.2660024896287021), (1880, 0.26371826842841334), (10047, 0.26118226463340216), (106586, 0.2571722499368198)]
Neverwinter Nights: Shadows of Undrentide
Diablo: Hellfire
The Witcher 3: Wild Hunt - Blood and Wine
Sid Meier's Civilization IV: Beyond the Sword
Bloodborne: The Old Hunters
King's Bounty: Armored Princess
Monster Hunter World: Iceborne Master Edition
The Legend of Zelda: Second Wind
The Lord of the Rings Online: Mines of Moria
An Assassin in Orlandes
Final Fantasy XIV: Endwalker
Celeste: Farewell
Dragon Quest Monsters: Joker 2 Professional
Fate: The Cursed King
Final Fantasy VI Advance
Baldur's Gate: Enhanced Edition
BioShock Infinite: Burial at Sea - Episode 1
Hentai University

In [55]:
new_df

,id,name,tags
0,129797,Age of Empires II: Gold Edition,89 age of empir ii gold edit unit the excit ga...
1,56951,War and Order,90 a mmorpg for mobil and tablet users. simul ...
2,12586,Exolon,88 si creía haber visto todo en video-aventura...
3,1934,Red Baron,87 experi the thrill of fli world war i bi- an...
4,86920,Castles of Mad King Ludwig,"90 castl of mad king ludwig, a castle-build bo..."
...,...,...,...
1788,1022,The Legend of Zelda,80 the legend of zelda is the first titl in th...
1789,123468,Fun with Ragdolls: The Game,80 becom a ragdol and creat your own environ i...
1790,6998,Full Auto,80 full auto give 'gun it' a whole new meaning...
1791,29552,Nature Treks VR,"80 new: with the latest updates, you are now f..."
1792,152354,Mario Party Superstars,81 call all superstars! mario parti is back wi...